In [1]:
import pandas as pd

In [2]:
weather_data = {
    'day':['1/1/2017','1/1/2018','1/1/2019','1/1/2020','1/1/2021'],
    'temperature':[32,35,28,24,31],
    'windspeed':[6,7,2,7,4], 
    'event':['Rain','Sunny','Snow','Snow','sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2018           35          7  Sunny
2  1/1/2019           28          2   Snow
3  1/1/2020           24          7   Snow
4  1/1/2021           31          4  sunny

In [3]:
row, columns = df.shape

In [4]:
row

5

In [5]:
columns

4

In [6]:
df.shape

(5, 4)

In [7]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2018           35          7  Sunny
2  1/1/2019           28          2   Snow
3  1/1/2020           24          7   Snow
4  1/1/2021           31          4  sunny

In [9]:
df.tail(2)df

        day  temperature  windspeed  event
3  1/1/2020           24          7   Snow
4  1/1/2021           31          4  sunny

In [10]:
df[1:2]

        day  temperature  windspeed  event
1  1/1/2018           35          7  Sunny

In [11]:
df.day

0    1/1/2017
1    1/1/2018
2    1/1/2019
3    1/1/2020
4    1/1/2021
Name: day, dtype: object

In [12]:
df['day']

0    1/1/2017
1    1/1/2018
2    1/1/2019
3    1/1/2020
4    1/1/2021
Name: day, dtype: object

In [14]:
print(df[['day','event']])

        day  event
0  1/1/2017   Rain
1  1/1/2018  Sunny
2  1/1/2019   Snow
3  1/1/2020   Snow
4  1/1/2021  sunny

In [15]:
df.describe()

       temperature  windspeed
count       5.0000   5.000000
mean       30.0000   5.200000
std         4.1833   2.167948
min        24.0000   2.000000
25%        28.0000   4.000000
50%        31.0000   6.000000
75%        32.0000   7.000000
max        35.0000   7.000000

In [17]:
df[df.temperature >30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2018           35          7  Sunny
4  1/1/2021           31          4  sunny

In [18]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/1/2018           35          7  Sunny

In [20]:
df['day'][df.temperature == df.temperature.max()]

1    1/1/2018
Name: day, dtype: object

In [21]:
df[['day','event']][df.temperature == df.temperature.max()]

        day  event
1  1/1/2018  Sunny

In [22]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
df.set_index('day')  # it return new data frame

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/1/2018           35          7  Sunny
1/1/2019           28          2   Snow
1/1/2020           24          7   Snow
1/1/2021           31          4  sunny

In [ ]:
df.reset_index(inplace = True)

In [35]:
df

   level_0  index       day  temperature  windspeed  event
0        0      0  1/1/2017           32          6   Rain
1        1      1  1/1/2018           35          7  Sunny
2        2      2  1/1/2019           28          2   Snow
3        3      3  1/1/2020           24          7   Snow
4        4      4  1/1/2021           31          4  sunny

In [36]:
df.set_index('event',inplace=True)

In [37]:
df

       level_0  index       day  temperature  windspeed
event
Rain         0      0  1/1/2017           32          6
Sunny        1      1  1/1/2018           35          7
Snow         2      2  1/1/2019           28          2
Snow         3      3  1/1/2020           24          7
sunny        4      4  1/1/2021           31          4

In [38]:
df.loc['Snow']

       level_0  index       day  temperature  windspeed
event
Snow         2      2  1/1/2019           28          2
Snow         3      3  1/1/2020           24          7

# Day 2 Different ways of creating dataframe

In [39]:
import pandas as pd

In [41]:
df = pd.read_csv('sample data\\weather.csv')

In [42]:
df

         day  temperature  windspeed  event
0  1//1/2017         32.0        6.0   Rain
1  1//1/2018         35.0        7.0  Sunny
2  1//1/2019         28.0        2.0   Snow
3  1//1/2020          NaN        NaN    NaN

In [47]:
df = pd.read_excel('sample data\\weather.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0  1//1/2017         32.0        6.0   Rain
1  1//1/2018         35.0        7.0  Sunny
2  1//1/2019         28.0        2.0   Snow
3  1//1/2020          NaN        NaN    NaN

In [48]:
weather_data = {
    'day':['1/1/2017','1/1/2018','1/1/2019','1/1/2020','1/1/2021'],
    'temperature':[32,35,28,24,31],
    'windspeed':[6,7,2,7,4],
    'event':['Rain','Sunny','Snow','Snow','sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2018           35          7  Sunny
2  1/1/2019           28          2   Snow
3  1/1/2020           24          7   Snow
4  1/1/2021           31          4  sunny

In [50]:
weather_data = {
    ('1/1/2017',32,6,'Rain'),
    ('1/1/2018',34,7,'Snow'),
    ('1/1/2019',35,2,'Snow'),
    ('1/1/2020',33,1,'Sunny'),
    
}
df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2019           35          2   Snow
2  1/1/2018           34          7   Snow
3  1/1/2020           33          1  Sunny