In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample data\\titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns',inplace=True)

In [4]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [7]:
inputs = pd.concat([inputs,dummies], axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [8]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [9]:
inputs.columns[inputs.isna().any()]   # check NaN value present or not

Index(['Age'], dtype='object')

In [17]:
inputs.Age[:50]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
20    35.0
21    34.0
22    15.0
23    28.0
24     8.0
25    38.0
26     NaN
27    19.0
28     NaN
29     NaN
30    40.0
31     NaN
32     NaN
33    66.0
34    28.0
35    42.0
36     NaN
37    21.0
38    18.0
39    14.0
40    40.0
41    27.0
42     NaN
43     3.0
44    19.0
45     NaN
46     NaN
47     NaN
48     NaN
49    18.0
Name: Age, dtype: float64

In [18]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [19]:
inputs.columns[inputs.isna().any()]   #  agai check NaN value present or not

Index([], dtype='object')

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =  train_test_split(inputs,target,test_size=0.2)

In [24]:
len(x_train),len(x_test),len(y_train),len(y_test)

(712, 179, 712, 179)

In [25]:
len(inputs)

891

In [36]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model

GaussianNB()

In [37]:
model.fit(x_train, y_train)

GaussianNB()

In [38]:
model.score(x_train, y_train)

0.7724719101123596

In [39]:
model.score(x_test, y_test)

0.8156424581005587

In [41]:
model.predict(x_test[:10])

array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [56]:
model.predict_proba(x_test[:10])

array([[9.88371773e-01, 1.16282273e-02],
       [2.96434091e-02, 9.70356591e-01],
       [9.85585542e-01, 1.44144579e-02],
       [9.07974669e-01, 9.20253308e-02],
       [9.88815570e-01, 1.11844298e-02],
       [2.39796154e-06, 9.99997602e-01],
       [9.87751811e-01, 1.22481888e-02],
       [9.12422452e-01, 8.75775475e-02],
       [9.72174151e-01, 2.78258488e-02],
       [9.86255224e-01, 1.37447758e-02]])